@charset "UTF-8";
p {
  font-weight: 500;
  font-size: 16px;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  -webkit-font-smoothing: antialiased;
}
body.body-overflow-hidden {
  overflow: hidden;
}

.container {
  max-width: 1170px;
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

.no-padding {
  padding: 0;
}

h2 {
  font-size: 28px;
}

.topsocialnav li a {
  background: #f36421 !important;
  color: #fff;
  text-decoration: none;
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar {
    background: #ffffff !important;
    padding: 7px 0 !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar .container {
    display: flex;
    align-items: center;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar .top-menu {
    display: flex;
    align-items: center;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar .top-menu .topsocialnav {
    margin: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar .top-menu .topsocialnav .nav-linka {
    margin: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar .navbar-nav {
    margin: 0;
    padding: 0 15px;
    display: flex;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar .navbar-nav .nav-item {
    border: none;
    display: flex;
    float: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar .navbar-brand {
    width: 180px;
    height: auto;
    padding-left: 15px;
  }
}
.navbar .navbar-collapse {
  border-bottom: none;
}

@media (min-width: 768px) and (max-width: 991px) {
  header + div {
    margin-top: 107px !important;
  }
}

.main-footer {
  margin-top: 0;
}

footer {
  background: #f36421;
}
footer input.nsu-field {
  border: none;
}
footer #btn_subscribe {
  background: #02519b;
}
@media (max-width: 991px) {
  footer .row .book-apprisal {
    margin: 0;
    padding: 0;
  }
}

.bottom-footer {
  background: #02519b;
}

@media (max-width: 991px) {
  .company-location-details-container a {
    padding: 0;
  }
}

@media (max-width: 991px) {
  #footer-second .sp-block {
    height: 10px;
  }
}
#footer-second .glyphicon.glyphicon-envelope {
  padding: 0;
}

@media (max-width: 991px) {
  .ft-divider {
    padding: 0;
  }
}

.bottom-footer .btm-sm-icon li a {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
.bottom-footer .btm-sm-icon li a i {
  display: inline-block;
  padding: 0;
}
.bottom-footer .btm-sm-icon li a i.fa-youtube {
  position: relative;
  top: 4px;
}

.main__banner__slide .item {
  position: relative;
}
.main__banner__slide .item .main-banner-caption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 10;
  width: 23.4375vw;
}
.main__banner__slide .item .main-banner-caption img {
  margin: 0 auto;
}
.main__banner__slide .item .main-banner-caption ul {
  display: flex;
  margin: 0 -5px;
  padding-left: 0;
}
.main__banner__slide .item .main-banner-caption ul li {
  padding: 0 5px;
  margin-bottom: 10px;
  list-style: none;
}
.main__banner__slide .slick-arrow {
  padding: 0;
  background: rgba(243, 100, 33, 0);
  border: none;
  color: #ffffff;
  text-align: center;
  height: 50px;
  width: 50px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
}
.main__banner__slide .slick-arrow i {
  padding: 0;
  color: #ffffff;
  font-size: 30px !important;
}
.main__banner__slide .slick-arrow.prev-arrow {
  left: 2.6041666667vw;
}
.main__banner__slide .slick-arrow.next-arrow {
  right: 2.6041666667vw;
}

.sold-banner {
  padding: 100px 0;
}
@media (max-width: 991px) {
  .sold-banner {
    padding: 30px 0;
  }
}

.zero-dollars {
  min-height: 33.3333333333vw;
  background-size: cover !important;
  padding: 100px 0;
  background-position: 50% !important;
  display: flex;
  align-items: center;
}
.zero-dollars--capton {
  max-width: 445px;
  background: #f36421;
  padding: 40px 25px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}
.zero-dollars--capton h2 {
  color: #ffffff;
  font-size: 72px;
  font-weight: 800;
  margin-top: 0;
  line-height: 1;
  margin-bottom: 15px;
}
@media (max-width: 991px) {
  .zero-dollars--capton h2 {
    font-size: 45px;
  }
}
@media (max-width: 767px) {
  .zero-dollars--capton h2 {
    text-align: center;
  }
}
.zero-dollars--capton h2 span {
  display: block;
  color: #02519b;
  font-size: 26px;
  background: #ffffff;
  padding: 5px 12px;
  margin-bottom: 15px;
}
@media (max-width: 991px) {
  .zero-dollars--capton h2 span {
    font-size: 26px;
  }
}
.zero-dollars--capton a {
  font-size: 20px;
  background: #02519b;
  color: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  padding: 12px 20px;
  text-transform: uppercase;
  font-weight: 700;
  min-width: 180px;
}

.slick-slide img {
  width: 100%;
}

.welcome-section {
  padding: 100px 0;
  background: #f36421;
}
@media (max-width: 991px) {
  .welcome-section {
    padding: 50px 0;
  }
}
.welcome-section .container {
  max-width: 1280px;
  width: 100%;
}
@media (min-width: 1200px) {
  .welcome-section .col-lg-9 {
    width: 72%;
  }
}
@media (min-width: 1200px) {
  .welcome-section .col-lg-3 {
    width: 28%;
  }
}
.welcome-section .main-title {
  text-align: left;
}
@media (max-width: 991px) {
  .welcome-section .main-title {
    margin: 0;
  }
}
.welcome-section .main-title h1,
.welcome-section .main-title h2 {
  font-size: 29px;
  color: #ffffff;
  font-weight: 800;
  margin-top: 0;
  width: 85%;
  text-transform: none;
}
.welcome-section p {
  color: #ffffff;
}

.services {
  text-align: center;
  padding: 75px 0;
}
@media (max-width: 991px) {
  .services {
    padding: 50px 0;
  }
}
.services .container {
  max-width: 1250px;
  width: 100%;
}
.services h2 {
  color: #f36421;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 20px;
}
.services .title-border {
  position: relative;
  max-width: 740px;
  margin: 0 auto;
}
.services .title-border::before {
  content: "";
  height: 2px;
  background: #f36421;
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.services .title-border span {
  display: inline-block;
  font-size: 20px;
  color: #333333;
  font-weight: 600;
  background: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  z-index: 10;
}
.services__lists {
  margin-top: 30px;
}
.services__lists ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.services__lists ul li {
  list-style: none;
}
@media (min-width: 992px) {
  .services__lists ul li {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .services__lists ul li {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
.services__lists ul li:nth-child(odd) .services__lists__item {
  background: #02519b;
}
.services__lists ul li:nth-child(even) .services__lists__item {
  background: #f36421;
}
.services__lists__item {
  padding: 75px 35px;
  position: relative;
}
.services__lists__item .service-image {
  position: absolute;
  opacity: 0.2;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.services__lists__item .service-image img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.services__lists__item .service-content {
  position: relative;
  z-index: 10;
}
.services__lists__item .service-content h3,
.services__lists__item .service-content p,
.services__lists__item .service-content a {
  color: #ffffff;
}
.services__lists__item .service-content h3 {
  margin-top: 0;
  font-size: 22px;
  font-weight: 800;
}
.services__lists__item .service-content p {
  margin-bottom: 20px;
}
.services__lists__item .service-content a {
  font-size: 16px;
  font-weight: 700;
  display: inline-block;
  border: 2px solid currentColor;
  padding: 14px 20px;
  min-width: 180px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  text-decoration: none;
}
.services__lists__item .service-content a i {
  padding-right: 0 !important;
  font-size: 10px !important;
  color: #ffffff;
  position: relative;
  bottom: 1px;
  margin-left: 1px;
}

.fefatured__property {
  padding: 75px 0;
  background: rgba(243, 100, 33, 0.1);
}
@media (max-width: 991px) {
  .fefatured__property {
    padding: 50px 0;
  }
}
.fefatured__property .thumbnail {
  margin-bottom: 0;
}
.fefatured__property h2 {
  color: #f36421;
  font-weight: 800;
  margin-bottom: 25px;
  margin-top: 0;
}
.fefatured__property__slider .slick-list {
  width: 100% !important;
}
.fefatured__property__slider .slick-arrow {
  padding: 0;
  background: none;
  border: 3px solid #f36421;
  color: #f36421;
  text-align: center;
  height: 40px;
  width: 40px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: 0;
  transform: translateY(0);
  cursor: pointer;
  z-index: 10;
}
.fefatured__property__slider .slick-arrow i {
  padding: 0;
  color: #f36421;
  font-size: 30px !important;
}
.fefatured__property__slider .slick-arrow.prev-arrow {
  right: 65px;
}
.fefatured__property__slider .slick-arrow.next-arrow {
  right: 15px;
}

@media (max-width: 768px) {
  .fefatured__property__slider .slick-slide {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.property-evaluation-block {
  padding: 95px 0;
  background: rgba(243, 100, 33, 0.1);
}
@media (max-width: 991px) {
  .property-evaluation-block {
    padding: 40px 0;
  }
}
.property-evaluation-block h2 {
  font-size: 28px;
  color: #f36421;
  font-weight: 800;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 0;
}
.property-evaluation-block p {
  color: #010101;
  text-align: center;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
}
.property-evaluation-block .property-evaluation-wrapper {
  background: #f36421;
  padding: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  margin-top: 20px;
}
@media (max-width: 991px) {
  .property-evaluation-block .property-evaluation-wrapper {
    padding: 45px 30px;
  }
}
.property-evaluation-block .property-evaluation-wrapper .row {
  margin: 0 -10px;
  width: auto;
}
@media (min-width: 992px) {
  .property-evaluation-block .property-evaluation-wrapper .row {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 992px) {
  .property-evaluation-block .property-evaluation-wrapper .row .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}
@media (min-width: 992px) {
  .property-evaluation-block .property-evaluation-wrapper .row .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.property-evaluation-block .property-evaluation-wrapper .row [class*=col-] {
  padding: 0 10px;
}
.property-evaluation-block .property-evaluation-wrapper h2 {
  color: #ffffff;
  margin-top: 0;
}
.property-evaluation-block .property-evaluation-wrapper p {
  color: #ffffff;
}
.property-evaluation-block .property-evaluation-wrapper .form-group {
  margin-top: 15px;
}
.property-evaluation-block .property-evaluation-wrapper .form-group .form-control {
  font-size: 14px;
  font-weight: 500;
  height: 45px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background: #ffffff;
  border: none;
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.property-evaluation-block .property-evaluation-wrapper .form-group .form-control::-webkit-input-placeholder {
  color: #666666;
  opacity: 1;
}
.property-evaluation-block .property-evaluation-wrapper .form-group .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #666666;
  opacity: 1;
}
.property-evaluation-block .property-evaluation-wrapper .form-group .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #666666;
  opacity: 1;
}
.property-evaluation-block .property-evaluation-wrapper .form-group .form-control:-ms-input-placeholder {
  color: #666666;
  opacity: 1;
}
.property-evaluation-block .property-evaluation-wrapper .btn {
  width: 100%;
  text-align: center;
  margin-top: 15px;
  width: 100%;
  text-align: center;
  margin-top: 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 16px;
  background: #02519b;
  border: none;
  line-height: 2;
}

.mesage-content {
  text-align: center;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  margin-top: 20px;
}

.why-choose-multydynamic {
  background: #f5f8fd;
  padding: 40px 0 60px 0;
  display: none;
}
.why-choose-multydynamic .row {
  width: auto;
  margin: 0;
  padding: 0;
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
}
.why-choose-multydynamic .row li {
  list-style: none;
  color: #000;
  margin-bottom: 35px;
}
@media (min-width: 992px) {
  .why-choose-multydynamic .row li {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
.why-choose-multydynamic .row li p:last-child {
  margin-bottom: 0;
}
.why-choose-multydynamic .row li .choose-block {
  position: relative;
  padding-left: 45px;
  font-size: 16px;
  line-height: 23px;
  color: #000;
  width: 90%;
}
.why-choose-multydynamic .row li .choose-block:before {
  content: "";
  position: absolute;
  background: url("../images/check.png") no-repeat top center;
  height: 30px;
  width: 30px;
  left: 0;
  top: 0;
}
.why-choose-multydynamic h2 {
  font-size: 28px;
  color: #02519b;
  font-weight: 800;
  text-align: center;
  margin-bottom: 40px;
}
.why-choose-multydynamic h2 span {
  display: block;
  color: #7891af;
  font-size: 25px;
  font-weight: 500;
  margin-top: 10px;
}

.multi-dynamic-button {
  margin-top: 30px;
}
.multi-dynamic-button .btn-primary {
  background: #02519b;
  font-size: 16px;
  border-radius: 30px;
  font-weight: 600;
  border: none;
  padding-left: 55px;
  padding-right: 55px;
}

.free-apprisal-banner {
  padding: 80px 0;
}
@media (max-width: 991px) {
  .free-apprisal-banner {
    padding: 40px 0;
  }
}
.free-apprisal-banner .banner-wrapper {
  max-width: 1125px;
  margin: 0 auto;
}

.free-guides {
  background: url("../images/background-bg.jpg") no-repeat center;
  background-size: cover;
}
@media (max-width: 991px) {
  .free-guides {
    padding: 40px 0;
  }
}
.free-guides .row {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  margin: 0 -15px;
}
@media (min-width: 768px) {
  .free-guides .row {
    min-height: 588px;
  }
}
@media (min-width: 992px) {
  .free-guides .row [class*=col-] {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}
@media (max-width: 991px) {
  .free-guides .row [class*=col-] {
    padding-left: 15px;
    padding-right: 15px;
    flex: 0 0 100%;
  }
}
.free-guides .row [class*=col-]:first-child {
  position: relative;
  z-index: 1;
}
@media (min-width: 768px) {
  .free-guides .row [class*=col-]:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.free-guides .row [class*=col-]:first-child:before {
  content: "";
  background: #02519b;
  position: absolute;
  height: calc(100% - 0px);
  width: calc(100% - 30px);
  left: 15px;
  z-index: -1;
  top: 0px;
}
.free-guides-block {
  text-align: center;
  background: #ffffff;
  padding: 15px;
  border-radius: 20px;
  padding-top: 30px;
  margin-top: 90px;
  margin-bottom: 60px;
}
@media (max-width: 991px) {
  .free-guides-block {
    margin-top: 40px;
    margin-bottom: 0;
  }
}
.free-guides-block img {
  max-width: 285px;
  display: block;
  margin: 0 auto;
  width: 100%;
}
.free-guides-block h3 {
  font-size: 30px;
  font-weight: 800;
  color: #02519b;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1200px) {
  .free-guides-block h3 {
    width: 81%;
  }
}
.free-guides-block .btn-warning {
  background: #f36421;
  border: none;
  border-radius: 10px;
  width: 100%;
  font-size: 16px;
  padding: 10px;
}

.first-content-block {
  padding: 50px 10px 50px 20px;
}
.first-content-block h3 {
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 55px;
}
.first-content-block h3 strong {
  font-weight: 800;
}
.first-content-block h4 {
  font-weight: 800;
  font-size: 25px;
  margin-top: 55px;
  margin-bottom: 0;
}
.first-content-block p {
  font-size: 16px;
  width: 90%;
}
.first-content-block h3,
.first-content-block p,
.first-content-block h4 {
  color: #ffffff;
}

.modal__download .modal-header .close {
  margin-top: -2px;
  color: #f36421;
  opacity: 1;
  font-family: "A";
}
.modal__download .form-group {
  margin: 8px 0;
}
.modal__download .form-control {
  font-size: 13px;
  font-weight: 500;
  height: 45px;
  box-shadow: none;
  padding: 0 12px !important;
}
.modal__download .form-control::-webkit-input-placeholder {
  opacity: 0.5;
  color: #000;
}
.modal__download .form-control:-moz-placeholder {
  /* Firefox 18- */
  opacity: 0.5;
  color: #000;
}
.modal__download .form-control::-moz-placeholder {
  /* Firefox 19+ */
  opacity: 0.5;
  color: #000;
}
.modal__download .form-control:-ms-input-placeholder {
  opacity: 0.5;
  color: #000;
}
.modal__download .btn-warning {
  background: #f36421;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  border: none;
}

.testimonial {
  text-align: center;
  padding: 80px 0;
}
.testimonial .container {
  max-width: 1280px;
  width: 100%;
}
.testimonial h2 {
  font-size: 28px;
  color: #f36421;
  font-weight: 800;
  text-align: center;
}
.testimonial .main-title {
  margin-bottom: 20px;
}
.testimonial .main-title p {
  font-weight: 500;
  color: #666666;
}
.testimonial .slick-list {
  padding-top: 40px;
}
.testimonial .slider-item {
  padding: 0 8px;
}
.testimonial__slider .slick-arrow {
  padding: 0;
  background: rgba(243, 100, 33, 0.5);
  border: none;
  color: #ffffff;
  text-align: center;
  height: 50px;
  width: 50px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
}
.testimonial__slider .slick-arrow i {
  padding: 0;
  color: #ffffff;
  font-size: 35px !important;
}
.testimonial__slider .slick-arrow.prev-arrow {
  left: 0;
}
.testimonial__slider .slick-arrow.next-arrow {
  right: 0;
}
.testimonial .content-wrapper {
  position: relative;
  padding: 60px 30px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  color: #666666;
  font-size: 15px;
  font-weight: 500;
  border: 1px solid #f36421;
}
@media (max-width: 991px) {
  .testimonial .content-wrapper {
    padding: 30px 15px;
  }
}
.testimonial .content-wrapper .testimonial-image {
  position: absolute;
  height: 80px;
  overflow: hidden;
  width: 80px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -40px;
  z-index: 10;
}
.testimonial .content-wrapper .testimonial-image img {
  height: 80px;
  width: 80px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  object-fit: cover;
}
.testimonial .content-wrapper h3 {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 25px;
  color: #f36421;
}
.testimonial .content-wrapper .author {
  font-weight: 800;
  margin-top: 25px;
  color: #f36421;
  font-size: 16px;
}
.testimonial .content-wrapper .rating i {
  color: #f36421;
  font-size: 36px !important;
  text-shadow: 1px -1px 2px rgba(0, 0, 0, 0.3);
  padding: 0;
}

.slick-slider .slick-dots {
  position: static;
  bottom: 0;
  margin-top: 40px;
}
.slick-slider .slick-dots li {
  height: 25px;
  width: 25px;
}
.slick-slider .slick-dots li button {
  height: 25px;
  width: 25px;
}
.slick-slider .slick-dots li button:before {
  content: "";
  background: #d6d6d6;
  height: 25px;
  width: 25px;
  opacity: 1;
}
.slick-slider .slick-dots li.slick-active button:before, .slick-slider .slick-dots li:hover button:before {
  background: #f36421;
}

.team {
  background: #f36421;
  padding: 80px 0;
}
.team .container {
  max-width: 1280px;
  width: 100%;
}
.team h2 {
  text-align: center;
  margin-bottom: 35px;
  color: #ffffff;
  font-weight: 800;
}
.team__slider__item {
  padding: 0 10px;
}
.team__slider .slick-dots {
  position: static;
  bottom: 0;
  margin-top: 40px;
}
.team__slider .slick-dots li button {
  height: 25px;
  width: 25px;
}
.team__slider .slick-dots li button:before {
  content: "";
  background: rgba(255, 255, 255, 0.2);
  height: 25px;
  width: 25px;
  opacity: 1;
}
.team__slider .slick-dots li.slick-active button:before, .team__slider .slick-dots li:hover button:before {
  background: white;
}
.team__block {
  background: #ffffff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
  padding: 30px 15px;
}
.team__image {
  overflow: hidden;
}
.team__image img {
  width: 195px;
  height: 195px;
  object-fit: cover;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  border: 10px solid #e5e5e5;
  display: block;
  margin: 0 auto;
}
.team__content h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
}
.team__content h3 em {
  display: block;
  margin-top: 5px;
}
.team-links {
  margin-top: 20px;
}
.team-links ul {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}
.team-links ul li {
  list-style: none;
  margin: 0 12px;
}

.instagram {
  background: #02519b;
  padding: 40px 0 60px 0;
}
.instagram h2 {
  text-align: center;
  font-size: 28px;
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .instagram h2 {
    font-size: 20px;
  }
}
.instagram h2 a {
  font-weight: 900;
  color: #ffffff;
}

.insta-gallery ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px;
  justify-content: center;
}
.insta-gallery ul li {
  list-style: none;
}
.insta-gallery ul li.insta-gallery-block {
  max-width: 16.66666%;
  flex: 0 0 16.66666%;
  padding: 0 8px;
  text-align: center;
  position: relative;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .insta-gallery ul li.insta-gallery-block {
    max-width: 50%;
    flex: 0 0 50%;
  }
}
.insta-gallery ul li.insta-gallery-block img {
  width: 100%;
}
.insta-gallery ul li.insta-gallery-block:hover .insta-share {
  transform: scale(1);
  visibility: visible;
}
.insta-gallery ul li.insta-gallery-block .image a {
  position: relative;
  overflow: hidden;
  display: block;
}
.insta-gallery ul li.insta-gallery-block .image a img {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.insta-share {
  transform: scale(0);
  visibility: hidden;
  position: absolute;
  width: calc(100% - 16px);
  left: 8px;
  top: 0;
  /* transform: translate(-50%, -50%); */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  z-index: 10;
  transition: transform 1s, visibility 2s;
}

.insta-share ul {
  margin: 0;
}
.insta-share ul li {
  padding: 0 5px;
}
.insta-share ul li a {
  color: #ffffff;
  text-decoration: none;
}
.insta-share ul li i {
  padding: 0;
  color: #ffffff;
  margin-right: 3px;
}

.follow-us-btn .btn-primary {
  background: #f36421;
  font-size: 20px;
  font-weight: 700;
  border: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

.blog .blog-other-attributes {
  flex-direction: row-reverse;
  display: flex;
}
.blog .row {
  margin: 0 -10px;
  width: auto;
  display: flex;
  flex-wrap: wrap;
}
.blog .row div[class*=col-lg-],
.blog .row div[class*=col-md-] {
  padding: 0 10px;
}
.blog .row.blog-other-attributes {
  flex-direction: row-reverse;
}
.blog .row.blog-other-attributes .posted-by-container a {
  color: #000;
  font-size: 16px;
  font-weight: 700;
}
.blog .row.blog-other-attributes .posted-by-container a i {
  margin-left: 3px;
  color: #000;
  font-size: 12px !important;
}
.blog .row.blog-other-attributes .posted-date-container {
  color: #333333;
  font-size: 16px;
  font-weight: 600;
}
.blog .row.blog-other-attributes .posted-date-container i {
  color: #333333;
  font-size: 16px !important;
}
.blog__home {
  background: #f36421;
  padding: 60px 0;
}
.blog .container {
  max-width: 1280px;
  width: 100%;
}
.blog__title {
  margin-bottom: 30px;
}
.blog h2 {
  font-size: 29px;
  color: #ffffff;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 20px;
}
.blog p {
  color: #ffffff;
}
.blog__block {
  box-shadow: 0 2px 21px rgba(0, 0, 0, 0.24);
}
.blog .view-all {
  margin-top: 30px;
}
.blog .view-all a {
  display: inline-block;
  color: #ffffff;
  font-size: 20px;
  background: #02519b;
  font-weight: 700;
  padding: 10px;
  border-radius: 4px;
  min-width: 180px;
}

.blogs-links-container {
  padding: 0;
}
.blogs-links-container .blog-link {
  float: none;
}
.blogs-links-container .blog-link img {
  height: auto;
}
.blogs-links-container .blog-link-heading {
  margin-bottom: 15px;
}
.blogs-links-container .blog-link-heading a {
  font-size: 20px;
  color: #333333;
  font-weight: 600;
  display: block;
}
.blogs-links-container .blog-short-details-container .blog-short-descriptions {
  font-size: 16px;
  font-weight: 500;
  border-color: #333333;
  padding-bottom: 15px;
}

.search-form-section {
  background: #f36421;
  padding: 40px 0;
}
.search-form-section .slider-form-wrapper {
  bottom: 0;
  margin-bottom: 0;
  left: 0;
}
.search-form-section .slider-form-wrapper .slider-form-bg div {
  padding-right: 2px;
  padding-left: 2px;
}
.search-form-section .slider-form-wrapper .slider-form-bg .form-control {
  border: none;
}
.search-form-section .slider-form-wrapper .slider-form-bg .btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  border: none;
  font-size: 14px;
  font-weight: 700;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-left: 2px;
}
.search-form-section .slider-form-wrapper .slider-form-bg .btn:not(:hover) {
  background: #02519b;
}
.search-form-section .slider-form-wrapper h1 {
  margin-top: 0;
  text-align: center;
  font-weight: 800;
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 28px;
}
.search-form-section .slider-form-wrapper .slider-form-bg {
  width: 100%;
  margin: 0 auto;
  background: none;
  border: none;
  padding: 0;
  border-radius: 0;
  display: block;
}

.team-tab {
  padding-top: 30px;
}
.team-tab .fefatured__property__tab {
  padding-top: 20px;
}
.team-tab .fefatured__property__tab .row {
  margin: 0 -15px;
  width: auto;
}
.team-tab .nav > li > a {
  border: 1px solid transparent;
  border-radius: 0;
  min-width: 100px;
  text-align: center;
}

.top-panel {
  left: 0;
}
@media (max-width: 767px) {
  .top-panel [class*=col-md-] {
    padding: 0;
    width: 100%;
  }
}
.top-panel .social-links-container ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
}
.top-panel .social-links-container ul li {
  border: none;
  text-align: center;
  height: auto;
  width: auto;
  background: none;
}
.top-panel .social-links-container ul li:not(:last-child) {
  margin-right: 5px;
}
.top-panel .social-links-container ul li a {
  background: #ffffff;
  display: block;
  height: 25px;
  width: 25px;
  line-height: 25px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.top-panel .social-links-container ul li a i {
  color: #02519b;
  padding-right: 0;
}
.top-panel .social-links-container ul li a i.fa-youtube {
  position: relative;
  top: 5px;
}

.ui-widget.ui-widget-content {
  max-height: 400px;
  overflow-y: auto;
}

.thankyou-section {
  text-align: center;
  padding: 50px 0;
  min-height: 550px;
  display: flex;
  align-items: center;
}
.thankyou-section .thankyou-block {
  max-width: 550px;
  margin: 0 auto;
}
.thankyou-section h2 {
  font-size: 29px;
  color: #f36421;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 30px;
  margin-top: 0;
}
.thankyou-section p {
  font-size: 16px;
  color: #666666;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 30px;
}
.thankyou-section p:last-child {
  margin-bottom: 0;
}
.thankyou-section p a {
  color: #f36421;
}

.guide {
  text-align: center;
  padding: 75px 0;
}
.guide__block h2 {
  font-size: 29px;
  color: #f36421;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 30px;
  margin-top: 0;
}
.guide__block p {
  font-size: 16px;
  color: #666666;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 30px;
}
.guide__block p:last-child {
  margin-bottom: 0;
}
.guide__block p a {
  color: #f36421;
}
.guide__block__wrapper {
  text-align: center;
  max-width: 715px;
  margin: 80px auto 0;
}
@media (max-width: 991px) {
  .guide__block__wrapper {
    margin-top: 40px;
  }
}
@media (max-width: 991px) {
  .guide__block__wrapper .inner__block {
    margin-top: 30px;
  }
}
.guide__block__wrapper img {
  max-width: 285px;
  display: block;
  margin: 0 auto;
  width: 100%;
}
.guide__block__wrapper h3 {
  font-size: 30px;
  font-weight: 800;
  color: #02519b;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1200px) {
  .guide__block__wrapper h3 {
    width: 81%;
  }
}
.guide__block__wrapper .btn-warning {
  background: #f36421;
  border: none;
  border-radius: 10px;
  width: 100%;
  font-size: 16px;
  padding: 10px;
  font-weight: 500;
}

.banner {
  padding: 60px 0;
}
.banner--selling {
  background: #02519b url("../images/selling-banner.jpg") no-repeat center;
  background-size: cover;
  min-height: 512px;
}
.banner--selling .banner__caption {
  padding: 35px 25px;
  background: #02519b;
  max-width: 410px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}
.banner--selling .banner__caption h1 {
  font-weight: 800;
  font-size: 32px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 20px;
}
.banner--selling .banner__caption h1 span {
  display: block;
  font-size: 20px;
}
.banner--selling .banner__caption .list-property {
  font-size: 24px;
  font-weight: 800;
  display: inline-block;
  padding: 5px 10px;
  line-height: 1;
}
.banner--selling .banner__caption .list-property.white-bg {
  color: #02519b;
  background: #ffffff;
}
.banner--selling .banner__caption h2 {
  font-size: 41px;
  color: #ffffff;
  font-weight: 800;
  white-space: pre-line;
  margin-bottom: 20px;
  line-height: 1;
  margin-top: 14px;
}
.banner--selling .banner__caption a {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 19px;
  display: inline-block;
  padding: 13px 20px;
  background: #f36421;
  border-radius: 5px;
}

.nice-select {
  float: none;
}

.prpoerty__appraisal {
  padding: 100px 0;
  position: relative;
  background: #ffffff;
}
.prpoerty__appraisal__bg {
  background: url("../images/free-appeaisal.jpg") no-repeat center;
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0.08;
  pointer-events: none;
}
.prpoerty__appraisal__wrapper {
  max-width: 1040px;
  padding: 50px 75px;
  background: #f36421;
  width: 100%;
  margin: 0 auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  position: relative;
  z-index: 10;
}
.prpoerty__appraisal__wrapper h2 {
  color: white;
  text-align: center;
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 30px;
  margin-top: 0;
}
.prpoerty__appraisal__wrapper h2 span {
  display: block;
  font-size: 23px;
  font-weight: 700;
  margin-top: 10px;
}
.prpoerty__appraisal__wrapper .form-control {
  border: 1px solid #000;
  height: 42px;
  padding-left: 15px !important;
  padding-right: 15px !important;
  font-size: 16px;
  font-weight: 400;
  padding-top: 0;
  padding-bottom: 0;
  color: #000;
}
.prpoerty__appraisal__wrapper .form-control::-webkit-input-placeholder {
  opacity: 1;
  color: #000;
}
.prpoerty__appraisal__wrapper .form-control:-moz-placeholder {
  /* Firefox 18- */
  opacity: 1;
  color: #000;
}
.prpoerty__appraisal__wrapper .form-control::-moz-placeholder {
  /* Firefox 19+ */
  opacity: 1;
  color: #000;
}
.prpoerty__appraisal__wrapper .form-control:-ms-input-placeholder {
  opacity: 1;
  color: #000;
}
.prpoerty__appraisal__wrapper textarea.form-control {
  height: 95px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.prpoerty__appraisal__wrapper .btn--primary {
  background: #02519b;
  color: #ffffff;
  display: block;
  width: 100%;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 23px;
  border: none;
  padding: 12px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance: textfield;
  /* Firefox */
}

.free-guides.white-bg {
  background: #fff;
  padding: 55px 0;
}
.free-guides.white-bg .row {
  min-height: 1px;
}
.free-guides.white-bg .free-guides-block {
  background: #f5f8fd;
}
@media (min-width: 992px) {
  .free-guides.white-bg .free-guides-block {
    margin: 25px 0;
  }
}
.free-guides.white-bg .free-guides-block h3 {
  margin-bottom: 35px;
}
.free-guides.white-bg .free-guides-block h4 {
  margin-top: 35px;
}

.award-section {
  text-align: center;
  background: #f36421;
  position: relative;
  min-height: 400px;
  padding-top: 30px;
}
.award-section .container {
  position: relative;
  z-index: 10;
}
.award-section__bg {
  background: url("../images/award-banner.png") no-repeat center;
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0.15;
  pointer-events: none;
}
.award-section .award-title {
  margin-top: 15px;
  margin-bottom: 20px;
}
.award-section .award-title h2 {
  margin-top: 0;
  font-size: 34px;
  color: #ffffff;
  background: #02519b;
  font-weight: 800;
  padding: 20px;
  display: inline-block;
}
.award-section .award-listitem ul {
  margin: 0;
  padding: 0;
}
.award-section .award-listitem ul li {
  display: inline-flex;
  color: #ffffff;
  font-size: 22px;
  font-weight: 800;
  margin: 0 18px;
  align-items: center;
}
.award-section .award-listitem ul li:before {
  content: "";
  background: url("../images/check-icon.png") no-repeat center;
  display: inline-block;
  height: 40px;
  width: 42px;
}

.banner {
  padding: 60px 0;
}
.banner--property {
  background: #f36421 url("../images/property-mgmt-banner.jpg") no-repeat center;
  background-size: cover;
  min-height: 530px;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
}
.banner--property:before {
  content: "";
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom right, #f36421, #f36421 50%, transparent 50%, transparent);
  position: absolute;
  height: 100%;
  width: 12%;
  right: 49.5%;
  top: 0;
  z-index: -1;
}
.banner--property:after {
  content: "";
  background: #f36421;
  position: absolute;
  height: 100%;
  width: 38.5%;
  left: 0;
  top: 0;
  z-index: -1;
}
.banner--property .banner__caption {
  max-width: 410px;
}
.banner--property .banner__caption h1 {
  font-weight: 900;
  font-size: 30px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 20px;
}
.banner--property .banner__caption p {
  color: #ffffff;
}
.banner--property .banner__caption a {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 16px;
  display: inline-block;
  padding: 8px 20px;
  background: #02519b;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 20px;
}

.property__management {
  background: rgba(243, 100, 33, 0.1);
  padding: 60px 0;
}
.property__management h2 {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 800;
  color: #02519b;
  text-transform: uppercase;
}
.property__management p {
  font-size: 16px;
  color: #666666;
  margin-bottom: 20px;
  font-weight: 500;
}
.property__management a {
  text-decoration: none;
  background: #f36421;
  color: #ffffff;
  text-transform: uppercase;
  display: inline-block;
  padding: 10px 25px;
  border-radius: 10px;
  font-weight: 800;
  font-size: 16px;
  margin-top: 10px;
}

.typical__property {
  padding-top: 50px;
}
.typical__property .container {
  padding: 0;
  max-width: 100%;
  width: 100%;
}
.typical__property h2 {
  text-align: center;
  color: #02519b;
  font-size: 28px;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 40px;
}
.typical__property ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.typical__property ul li {
  max-width: 100%;
  flex: 0 0 100%;
  list-style: none;
}
.typical__property ul li:nth-child(odd) {
  background: #f36421;
}
.typical__property ul li:nth-child(even) {
  background: #02519b;
}
.typical__property ul li:nth-child(even) .typical__property__wrapper {
  flex-direction: row-reverse;
}
.typical__property ul li:nth-child(even) .typical__property__wrapper .content-wrapper {
  background: #02519b;
}
.typical__property__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.typical__property__wrapper .image-wrapper img {
  width: 100%;
}
@media (min-width: 992px) {
  .typical__property__wrapper .image-wrapper,
.typical__property__wrapper .content-wrapper {
    max-width: 50%;
    flex: 0 0 50%;
  }
}
.typical__property__wrapper .content-wrapper {
  padding: 45px;
  background: #f36421;
  max-width: 700px;
}
.typical__property__wrapper .content-wrapper h3 {
  color: #ffffff;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 20px;
}
.typical__property__wrapper .content-wrapper p {
  color: #ffffff;
  margin-bottom: 20px;
}
.typical__property__wrapper .content-wrapper a {
  color: #ffffff;
  border: 2px solid currentColor;
  padding: 10px;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  min-width: 180px;
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
}
.typical__property__wrapper .content-wrapper a:after {
  content: "";
  display: inline-block;
  margin-left: 4px;
  background: url("../images/arrow-small.png") no-repeat center;
  width: 9px;
  height: 8px;
}

.recent__rentals {
  padding-bottom: 140px;
  padding-top: 20px;
}
.recent__rentals .container {
  max-width: 1200px;
  width: 100%;
}
.recent__rentals h2 {
  text-align: center;
  color: #f36421;
  font-size: 28px;
  font-weight: 700;
}
.recent__rentals__slider .slick-arrow {
  padding: 0;
  background: rgba(243, 100, 33, 0.5);
  border: none;
  color: #ffffff;
  text-align: center;
  height: 50px;
  width: 50px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
}
.recent__rentals__slider .slick-arrow i {
  padding: 0;
  color: #ffffff;
  font-size: 35px !important;
}
.recent__rentals__slider .slick-arrow.prev-arrow {
  left: 0;
}
.recent__rentals__slider .slick-arrow.next-arrow {
  right: 0;
}

.item-details li p {
  font-size: 13px;
}

.blog__page {
  padding: 50px 0;
}
.blog__block {
  margin: 15px 0;
}

.pagination {
  padding: 0 15px;
  margin-bottom: 30px;
}

.property-details-page {
  padding-bottom: 20px;
  background: #fafafa;
}
@media (max-width: 768px) {
  .property_sidebar {
    padding: 0 15px;
  }
}
.property_sidebar .property-search-sidebar-container {
  padding-left: 0;
  width: 100%;
}

.single-property .content-box {
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
}
.single-property .content-box ul {
  margin: 0;
  padding: 0;
}
.single-property .content-box ul li {
  padding: 0;
  list-style: none;
  margin-bottom: 5px;
}
.single-property .content-box h2 {
  font-size: 20px;
  text-transform: capitalize;
  color: #02519b;
  margin-bottom: 20px;
  font-weight: 700;
  margin-top: 0;
}
.single-property p {
  font-size: 14px;
}
.single-property .video__block {
  position: relative;
  overflow: hidden;
}
.single-property .video__block .link {
  position: absolute;
  background: #f36421;
  z-index: 10;
  bottom: 50%;
  left: 50%;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  display: flex;
  color: #ffffff;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.single-property .video__block .link i {
  color: #ffffff;
  padding: 0;
}

.plan-image {
  margin-bottom: 20px;
}

.single-property .map-container {
  border: none;
  padding-bottom: 0;
}

.floorplan .panel-default {
  border: none;
}
.floorplan .panel-default > .panel-heading {
  background: none;
  border: none;
  padding: 0;
}
.floorplan .panel-default > .panel-heading button {
  padding: 12px 15px;
  border: none;
  display: block;
  width: 100%;
  text-align: left;
  color: #ffffff;
  background: #02519b;
  position: relative;
}
.floorplan .panel-default > .panel-heading button:after {
  content: "";
  position: absolute;
  top: 1px;
  display: inline-block;
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: transform 0.25s linear;
  -webkit-transition: -webkit-transform 0.25s linear;
  right: 20px;
  top: 11px;
}
.floorplan .panel-default > .panel-heading button[aria-expanded=true] {
  background: #f36421;
}
.floorplan .panel-default > .panel-heading button[aria-expanded=true]:after {
  content: "";
}
.floorplan .panel-default .panel-body {
  border: 1px solid #eee;
}

.single-property .features-details ul li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
}
.single-property .features-details ul li:before {
  content: "";
  font-family: "FontAwesome";
  position: absolute;
  left: 0;
  height: 20px;
  width: 20px;
  background: #02519b;
  color: white;
  text-align: center;
  line-height: 20px;
}
.single-property .inspections {
  margin-bottom: 20px;
}
.single-property .inspections .nav-tabs li {
  margin-bottom: 0;
}
.single-property .inspections .nav-tabs li a {
  border: none;
  color: #333;
  min-width: 100px;
  text-align: center;
}
.single-property .inspections .nav-tabs li.active a {
  color: #fff;
}
.single-property .inspections .tab-content {
  padding: 15px 0;
}
.single-property .inspections .tab-content .content-wrapper .main-row {
  border-bottom: 1px solid #d0d3d8;
  padding: 10px 0;
}
.single-property .inspections .tab-content .content-wrapper .main-row .row {
  margin: 0 -15px;
  width: auto;
}
.single-property .inspections .tab-content .content-wrapper .main-row:hover {
  background: #f8f9fa;
}

.final-link {
  margin-top: 15px;
}
.final-link .btn {
  text-align: center;
  display: block;
  width: 100%;
  padding: 0;
  background: none !important;
  border: none;
  margin-bottom: 10px;
  box-shadow: none !important;
}
.final-link .final-collapse-content {
  display: none;
}

.property_sidebar .agent-wrapper {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}
.property_sidebar .agent-wrapper .agent-image {
  border: none;
  width: 100px !important;
  height: 100px;
  margin: 0;
}
.property_sidebar .agent-wrapper .agent-image img {
  height: 100px;
  width: 100px;
}
@media (max-width: 991px) {
  .property_sidebar .agent-wrapper .agent-text {
    margin-top: 0 !important;
  }
}

.detail ul {
  margin: 0;
  display: block;
  height: auto;
  padding: 10px 0;
}
.detail ul li {
  float: none;
  width: auto;
  display: inline-block;
  vertical-align: middle;
}
.detail ul li:not(:last-child) {
  margin-right: 15px;
}
.detail ul li p {
  padding-left: 22px;
}

.recent-properties-box .detail header {
  padding-bottom: 10px;
}
.recent-properties-box .detail header .area-block {
  padding-top: 8px;
}

.inspection-date .table {
  border: 1px solid #ddd;
  border-radius: 3px;
  border-collapse: inherit;
  border-top: none;
}
.inspection-date .table td {
  background: #fafafa;
}
.inspection-date .table td a:not(:hover) {
  color: #333;
}

.detail-print-container .detail-print {
  margin-top: 0;
  justify-content: center;
  display: flex;
}

.single-gallery-row {
  background: #f36421;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px auto 0;
  position: relative;
}
.single-gallery-row div[class*=col-lg] {
  padding: 0;
  position: static;
}
.single-gallery-row .single-title-block {
  color: white;
  padding: 0 12px;
  padding-top: 30px;
}
@media (max-width: 991px) {
  .single-gallery-row .single-title-block {
    padding-top: 60px;
  }
}
.single-gallery-row .single-title-block h1 {
  font-weight: 700;
  font-size: 22px;
}

.enquiry-now {
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
}
.enquiry-now .row {
  margin-left: -15px;
  margin-right: -15px;
  width: auto;
}
.enquiry-now .row div[class*=col-] {
  padding: 0 15px;
}
.enquiry-now .agent-field {
  margin-top: 0;
  margin-bottom: 10px;
}
.enquiry-now .agent-field label {
  margin-top: 0;
}
.enquiry-now .agent-btn {
  float: none;
  margin: 0;
}
.enquiry-now .btn {
  margin: 0;
}
.enquiry-now .btn i {
  color: #fff;
}

.badges {
  padding: 0 12px;
}
.badges ul {
  margin: 0;
  padding: 0;
}
.badges ul li {
  list-style: none;
  display: inline-block;
  margin-bottom: 5px;
  background: #fff;
  padding: 5px;
  border-radius: 3px;
  line-height: 1;
  min-width: 40px;
  text-align: center;
  color: #f26522;
  font-family: Arial;
  font-size: 12px;
  font-weight: 600;
}
.badges ul li:not(:last-child) {
  margin-right: 5px;
}

.wdp-ribbon {
  display: inline-block;
  padding: 2px 15px;
  position: absolute;
  right: 0px;
  top: 20px;
  line-height: 24px;
  height: 24px;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
  border-radius: 0;
  text-shadow: none;
  font-weight: normal;
  background-color: #02519b !important;
}
.wdp-ribbon-six {
  background: none !important;
  position: relative;
  box-sizing: border-box;
  position: absolute;
  width: 85px;
  height: 85px;
  top: 0px;
  left: 0px;
  padding: 0px;
  overflow: hidden;
}
.wdp-ribbon .wdp-ribbon-inner-wrap {
  -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
.wdp-ribbon .wdp-ribbon-border {
  width: 0;
  height: 0;
  border-left: 85px solid #02519b;
  border-bottom: 85px solid transparent;
  z-index: 12;
  position: relative;
  top: -20px;
}
.wdp-ribbon .wdp-ribbon-text {
  font-size: 13px;
  font-weight: bold;
  line-height: 13px;
  position: absolute;
  z-index: 14;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 23px;
  left: -20px;
  width: 91px;
  text-align: center;
  color: #fff;
}

.form-wrapper .side-bar-head {
  margin: 0;
}

.single-gallery-row .thumbnail {
  background: none;
  border: none;
}
.single-gallery-row .thumbnail .recent-properties-box {
  box-shadow: none;
}
.single-gallery-row .thumbnail .detail {
  background: none;
  color: #fff;
}
.single-gallery-row .thumbnail .detail header:before {
  background: rgba(255, 255, 255, 0.5);
}
.single-gallery-row .thumbnail .detail header:after {
  background: none;
}
.single-gallery-row .thumbnail .detail header .area-block {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  color: #ffffff;
  font-size: 13px;
}
.single-gallery-row .thumbnail .detail header .area-block .property-area {
  float: none;
  text-align: center;
  margin-left: 0;
}
.single-gallery-row .thumbnail .detail header .detail-footer {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 13px;
}
.single-gallery-row .thumbnail .item-details li p {
  color: #fff;
}
.single-gallery-row .thumbnail .detail-footer {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 13px;
}
.single-gallery-row .thumbnail .detail-footer a {
  color: #fff;
}
.single-gallery-row .thumbnail .detail-footer i {
  color: #fff;
  font: normal normal normal 14px/1 FontAwesome;
}
.single-gallery-row .detail-print-container {
  padding: 8px;
}

.property-details-page .detail-print li a.btn-info {
  background: #fff;
  border: none;
  color: #f36421 !important;
}

.single-gallery-row .recent-properties-box .item-bed {
  background: url("../images/bed-room-white.png") no-repeat 0px 0px;
}
.single-gallery-row .recent-properties-box .item-bath {
  background: url("../images/bathroom-white.png") no-repeat 0px 0px;
}
.single-gallery-row .recent-properties-box .item-garage {
  background: url("../images/parking-white.png") no-repeat 0px 0px;
}
.single-gallery-row .recent-properties-box .item-area {
  background: url("../images/area-white.png") no-repeat 0px 0px;
}

.property-container .view-detail {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  background: rgba(243, 100, 33, 0.9) !important;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}
.property-container .view-detail a {
  display: inline-block;
  color: #ffffff;
  border: 1px solid currentColor;
  padding: 10px;
  line-height: 1;
  border-radius: 30px;
  min-width: 140px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-decoration: none;
}
.property-container:hover .view-detail {
  opacity: 1;
  visibility: visible;
}

.item-details li:nth-child(2) p,
.item-details li:last-child p {
  width: auto;
}

.custom-top-spacing:not(.single-gallery-row) {
  width: auto;
  margin-left: -15px;
  margin-right: -15px;
}

.recent-properties-box .view-detail {
  position: absolute;
  background: rgba(243, 100, 33, 0.95);
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  z-index: 10;
  left: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}
.recent-properties-box .view-detail a {
  display: inline-block;
  padding: 10px;
  color: #ffffff;
  border: 1px solid currentColor;
  border-radius: 30px;
  min-width: 140px;
  line-height: 1;
  font-family: Arial;
  letter-spacing: 0.025rem;
  cursor: pointer;
  text-decoration: none;
}
.recent-properties-box .view-detail a:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(2, 81, 155, 0);
  top: 0;
  left: 0;
}
.recent-properties-box:hover .view-detail {
  opacity: 1;
  visibility: visible;
}

.thumbnail.recent-properties-box a.thumbnail-container {
  height: auto;
  padding-top: 65%;
  position: relative;
}

.thumbnail.recent-properties-box a.thumbnail-container img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.recent-properties-box .detail header {
  margin-bottom: 10px;
}

.zero-dollars-selling .zero-dollars--capton {
  background: #02519b;
  max-width: 405px;
}
.zero-dollars-selling .zero-dollars--capton .list-icon-type ul {
  margin: 0;
  padding: 0;
}
.zero-dollars-selling .zero-dollars--capton .list-icon-type ul li {
  list-style: none;
  color: #ffffff;
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 5px;
  position: relative;
  padding-left: 35px;
}
.zero-dollars-selling .zero-dollars--capton .list-icon-type ul li:before {
  content: "";
  background: url("../images/green-check.png") no-repeat center;
  position: absolute;
  height: 25px;
  width: 25px;
  background-size: 25px;
  left: 0;
  top: 4px;
}
.zero-dollars-selling .zero-dollars--capton b {
  display: block;
  font-size: 20px;
  font-weight: 800;
  color: #ffffff;
  margin-bottom: 5px;
}
.zero-dollars-selling .zero-dollars--capton h2 {
  font-size: 33px;
}
.zero-dollars-selling .zero-dollars--capton h2 span {
  font-size: 22px;
  margin-top: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.zero-dollars-selling .zero-dollars--capton .button-wrapper {
  margin-top: 15px;
}
.zero-dollars-selling .zero-dollars--capton .button-wrapper a {
  font-size: 18px;
  background: #f36421;
  text-align: center;
}

.free-guides-nobg {
  background: #ffffff;
  padding: 60px 0;
}
.free-guides-nobg .free-guides-block {
  background: #f5f8fd;
}

.selling-property-evaluation {
  position: relative;
  background: #ffffff;
  z-index: 1;
}
.selling-property-evaluation .mdselling-appraisal-banner {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.1;
}
.selling-property-evaluation .property-evaluation-wrapper {
  margin-top: 0;
}
.selling-property-evaluation .property-evaluation-wrapper .form-group {
  margin-top: 7px;
  margin-bottom: 7px;
}
.selling-property-evaluation .property-evaluation-wrapper .form-group textarea.form-control {
  height: 100px;
  resize: none;
}

.md-selling-text-block {
  background: #ffffff;
  padding: 60px 0;
}
.md-selling-text-block .inner-wrapper {
  max-width: 740px;
  margin: 0 auto;
}
.md-selling-text-block .inner-wrapper p {
  font-size: 16px;
  color: #000;
}
.md-selling-text-block .inner-wrapper p:not(:last-child) {
  margin-bottom: 20px;
}
.md-selling-text-block .inner-wrapper p.orange {
  font-size: 20px;
  color: #f36421;
  line-height: 1.5;
  font-weight: 700;
}

.award-winning-team {
  background: #f36421;
  padding-top: 30px;
  position: relative;
  z-index: 1;
}
.award-winning-team-banner {
  background: #f36421 url("../images/selling-team-banner.jpg") no-repeat center;
  background-blend-mode: multiply;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.4;
}
.award-winning-team .award-listing {
  margin: 20px 0;
}
.award-winning-team .award-listing ul {
  margin: 0;
  padding: 0;
}
.award-winning-team .award-listing ul li {
  list-style: none;
  display: inline-block;
  font-size: 22px;
  font-weight: 800;
  color: #ffffff;
  position: relative;
  padding-left: 45px;
}
.award-winning-team .award-listing ul li:before {
  content: "";
  background: url("../images/png-square-check.png") no-repeat center;
  position: absolute;
  height: 34px;
  width: 36px;
  background-size: 34px;
  left: 0;
  top: -1px;
}
.award-winning-team .award-listing ul li:not(:last-child) {
  margin-right: 25px;
}
.award-winning-team .team-title h2 {
  display: inline-block;
  background: #02519b;
  color: #ffffff;
  font-weight: 800;
  padding: 10px 20px;
}

.proverty-value-reaveled {
  background-size: cover !important;
  min-height: 700px;
  padding: 80px 0;
}
@media (min-width: 992px) {
  .proverty-value-reaveled .col-lg-4:nth-child(2) {
    bottom: 20px;
  }
}
.proverty-value-reaveled h2 {
  font-size: 45px;
  font-weight: 800;
  color: #ffffff;
  margin-top: 0;
}
.proverty-value-reaveled h3 {
  font-size: 36px;
  font-weight: 600;
  color: #ffffff;
  margin-top: 0;
}
.proverty-value-reaveled h3 span {
  background: #f36421;
  display: inline-block;
  font-weight: 900;
  font-size: 29px;
  -webkit-border-radius: 0 30px 30px 0;
  -moz-border-radius: 0 30px 30px 0;
  -ms-border-radius: 0 30px 30px 0;
  border-radius: 0 30px 30px 0;
  padding: 7px 15px;
  margin-left: 15px;
}
.proverty-value-reaveled .teams {
  max-width: 850px;
  margin: 40px auto 40px;
  text-align: center;
}
.proverty-value-reaveled .teams__block {
  position: relative;
}
.proverty-value-reaveled .teams .image {
  max-width: 240px;
  overflow: hidden;
  border-radius: 50%;
  border: 10px solid white;
  margin: 0 auto;
}
.proverty-value-reaveled .teams .caption {
  background: #02519b;
  color: white;
  font-size: 22px;
  font-weight: 900;
  text-transform: uppercase;
  padding: 5px 20px;
  display: inline-block;
  min-width: 190px;
  border-radius: 30px;
  border: 5px solid #f36421;
  margin-top: -30px;
}
.proverty-value-reaveled .contact-desc span {
  display: inline-block;
  background: #02519b;
  padding: 6px 20px;
  border-radius: 30px;
  font-size: 25px;
  color: #ffffff;
  font-weight: 800;
}
.proverty-value-reaveled .contact-desc .phone a {
  font-size: 70px;
  color: #ffffff;
  font-weight: 700;
}
.proverty-value-reaveled .contact-desc .email a {
  font-size: 19px;
  color: #ffffff;
  font-weight: 600;
}

.navbar-inverse {
  transition: none;
}

.casual--banner {
  background-size: cover !important;
  text-align: center;
}
.casual--banner .award-logo {
  padding-bottom: 30px;
}
.casual--banner .banner-caption {
  max-width: 1070px;
  margin: 50px auto;
}
.casual--banner .banner-caption h1 {
  color: #ffffff;
  font-size: 28px;
  font-weight: 800;
}
.casual--banner .banner-caption p {
  color: #ffffff;
  font-size: 20px;
}

.casula__area {
  padding: 70px 0;
}
.casula__area .row {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
.casula__area .content-left h2 {
  font-weight: 800;
  color: #f36421;
  margin-bottom: 20px;
  margin-top: 0;
}
.casula__area .content-left p {
  color: #000;
}
.casula__area .content-left p:not(:last-child) {
  margin-bottom: 20px;
}

.property-evaluation-block__casual {
  background-size: cover !important;
}
.property-evaluation-block__casual .property-evaluation-wrapper {
  margin-top: 0;
}
.property-evaluation-block__casual .property-evaluation-wrapper .btn {
  margin-top: 0;
}

.free-guides__casual {
  padding: 100px 0;
}
.free-guides__casual .row {
  min-height: 1px;
}
.free-guides__casual .row [class*=col-]:first-child::before {
  background: none;
}
.free-guides__casual .free-guides-block {
  margin: 0;
}
.free-guides__casual .first-content-block {
  background: #02519b;
}
.free-guides__casual .first-content-block h3 {
  margin-bottom: 20px;
}
.free-guides__casual .first-content-block h4 {
  margin-top: 20px;
}

.read-more-block,
.read-less-block {
  color: #c51616;
  font-size: 16px;
  font-weight: 500;
  margin-top: 40px;
}
.read-more-block span,
.read-less-block span {
  display: inline-block;
  cursor: pointer;
}

.read-less-block {
  display: none;
}

.read-more-content {
  padding-top: 40px;
  display: none;
}
@media (min-width: 1200px) {
  .read-more-content {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.content-list-block {
  margin-top: 50px;
}
.content-list-block h3 {
  font-size: 18px;
  font-weight: 800;
  color: #f36421;
}
.content-list-block ul {
  padding-left: 20px;
}
.content-list-block ul li {
  font-size: 16px;
  font-weight: 500;
  color: #000;
  line-height: 1.5;
  margin-bottom: 5px;
}
.content-list-block p {
  font-size: 16px;
  font-weight: 500;
  color: #000;
  line-height: 1.5;
  margin-bottom: 20px;
}

/*# sourceMappingURL=new-custom.css.map */
