.top-panel {
    .social-links-container {
        li {
            border: none;
            text-align: center;
            line-height: 25px;
            a {
                display: block;
                i {
                   @include breakpoint (xs) {
                    color: #00529c;
                   }
                }
            }
        }
    }
}