.team-tab {
    padding-top: 30px;
    .fefatured__property__tab {
        padding-top: 20px;
        .row {
            margin: 0 -15px;
            width: auto;
        }
    }
    .nav {
        > li {
            > a {
                border: 1px solid transparent;
                border-radius: 0;
                min-width: 100px;
                text-align: center;
            }
        }
    }
}