/* ------------------------------------------ */
/*             TABLE OF CONTENTS
/* ------------------------------------------ */

/*    01 - General & Basic Styles        */
/*    02 - Headers & Navigations         */
/*    03 - Intro Page   			     */
/*    04 - Contact Form Response         */
/*    05 - Breadcrumb  			         */
/*    06 - What We Do   			     */
/*    07 - Features (about.html)         */
/*    08 - Quotes (about.html)           */
/*    09 - Clients (about.html)          */
/*    10 - Works-Banner (works.html)     */
/*    11 - Screens  (works.html)         */
/*    12 - Call-To-Action (works.html)   */
/*    13 - Partners  (works.html)	     */
/*    14 - Pricing  (price.html)         */
/*    15 - Pricing FAQs  (price.html)    */
/*    16 - FAQs   (faq.html)             */
/*    17 - Footer                        */
/*    18 - Scroll-To-top                 */
/*    19 - Step Wizard                   */




/* ==========================================================================
   01. GENERAL & BASIC STYLES
   ========================================================================== */

#about-page-wrapper,
#pricing-page-wrapper, 
#works-page-wrapper,
#faq-page-wrapper {
	margin-top: 70px;
} 

/*------------------------------------------*/
/*	 Preload Animation 
/*------------------------------------------*/

#preloader{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99999; 
	background-color: #fff;
}

#status{
	position:absolute;
	top:50%; 
	left:50%; 
	margin:-100px 0 0 -100px;
	width:200px;
	height:200px;
	background-image: url(../img/loader.gif);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 70px 70px;
}    
   
/*------------------------------------------*/
/*	 Headers
/*------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
	margin-top: 0; 
	margin-bottom: 10px;
}

/*------------------------------------------*/
/*	 Lists
/*------------------------------------------*/

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

/*------------------------------------------*/
/*	 Link Setting
/*------------------------------------------*/

a {
	text-decoration: none;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}

a:hover {
	text-decoration: none;
	
}

a:focus {
	outline: none;
	border: none;
	text-decoration: none;
} 

/*------------------------------------------*/
/*	 Theme Button
/*------------------------------------------*/

.btn-theme {
	background-color: #428bca;
	color: #fff;
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	padding: 8px 16px;
	-webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

.btn-theme:hover {
	background-color: #3071a9;
	color: #fff;
}

/*------------------------------------------*/
/*	 Black Button
/*------------------------------------------*/

.btn-black {
	background-color: #444;
	color: #fff;
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	padding: 8px 16px;
	-webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

.btn-black:hover {
	background-color: #333;
	color: #fff;
}

/*------------------------------------------*/
/*	 Button Hover/Focus
/*------------------------------------------*/

.btn:focus {
	color: #f8f8f8;
	text-decoration: none;
	outline: none;
}

/*------------------------------------------*/
/*	 Section Titlebar
/*------------------------------------------*/

.titlebar {
	margin-bottom: 40px;
	text-align: center;
}

.titlebar h1 {
	color: #000;
	font-weight: 300;
}

.titlebar p {
	color: #aaa;
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	padding: 0 10%;
}

   

/* ==========================================================================
   02. HEADERS & NAVIGATIONS
   ========================================================================== */

/*------------------------------------------*/
/*	 Intro Page Logo Image    
/*------------------------------------------*/

.navbar-brand {
	padding: 10px 20px;
	height: auto;
}
.logo {
	color: #272727;
	font-size: 28px;
	display: block;
	padding: 0 18px;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	line-height: 70px;
	text-transform: uppercase;
}
.intro .logo {
	color: #fff;
	text-shadow: 1px 1px 2px black, 0 2px 2px #333;
}
.logo:hover{
	color:#FF8000;
}
/*------------------------------------------*/
/*	 Other Pages Logo Image    
/*------------------------------------------*/

.navbar-brand.small-logo {
	padding: 15px;
} 

/*------------------------------------------*/
/*	 Intro Page Navigation Bar    
/*------------------------------------------*/

.navbar.navbar-fixed-top.intro {	
	background-color:#fff;
	opacity:0.9;
	border-bottom: 1px solid #aaaaaa;
	margin-bottom: 0;
	-webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

/*------------------------------------------*/
/*	 Fixed Top Navigation Bar    
/*------------------------------------------*/

.navbar.navbar-fixed-top {
	background-color: #f0f0f0;
	border-top: none;
	border-bottom: 1px solid #ddd;
}

/*------------------------------------------*/
/*	 Navigation Menu Item  
/*------------------------------------------*/

#intro-nav-menu .navbar-nav > li > a {
	color: #fff;	
	font-size: 15px;
    display: block;
	padding: 0 18px;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	line-height: 70px;
	text-transform: uppercase;
}

#top-nav-menu .navbar-nav > li > a {
	color: #444;	
    display: block;
	padding: 0 18px;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	line-height: 70px;
	text-transform: uppercase;
}

/*------------------------------------------*/
/*	 Navigation Menu Item Hover  
/*------------------------------------------*/

#intro-nav-menu .navbar-nav > li > a:hover {
	background-color: #1A64A6;
}

#top-nav-menu .navbar-nav > li > a:hover {
	color: #1A64A6;
	background: transparent;	
}


#intro-nav-menu .navbar-nav > li.active {
	background-color: #1A64A6;
}

#top-nav-menu .navbar-nav > li.active > a {
	color: #1A64A6;
	background: transparent;	
}
/*------------------------------------------*/
/*	 Intro Page Responsive Menu    
/*------------------------------------------*/

.navbar-toggle {
    position: relative;
    float: right;
    padding: 10px;
	margin: 16px 45px 0 0;
    background-color: none;
	border: 2px solid #fff;
}

.navbar-toggle .icon-bar {
	background-color: #fff;
	height: 2px;
}

/*------------------------------------------*/
/*	 Responsive Menu    
/*------------------------------------------*/

.navbar-toggle.black {
    position: relative;
    float: right;
    padding: 10px;
	margin: 16px 45px 0 0;
    background-color: none;
	border: 2px solid #666;
}

.navbar-toggle.black .icon-bar {
	background-color: #666;
	height: 2px;
}



/* ==========================================================================
   03. INTRO PAGE
   ========================================================================== */

 body.welcome_page {
	background: url(../img/intro_bkg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}  

/*------------------------------------------*/
/*	 Intro Page Content    
/*------------------------------------------*/

.intro-content {
	color: #fff;
	margin-top: 100px;
	margin-bottom: 20px;
}

/*------------------------------------------*/
/*	 Intro Page Slogan   
/*------------------------------------------*/

#intro_slogan h1 {	
	font-size: 40px;
	font-weight: 700; 
	text-transform: uppercase; 
	text-shadow: 1px 1px 2px black, 0 2px 2px #333;
	margin-bottom: 10px; 
}

#intro_slogan h2 {	
	font-size: 35px;
	font-weight: 700; 
	text-transform: uppercase; 
	text-shadow: 1px 1px 2px black, 0 2px 2px #333;
	margin-bottom: 5px; 
	margin-top: 0;
	
}

#intro_slogan h4 {
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	text-shadow: 1px 1px 2px black, 0 2px 2px #333;
	margin-top: 0; 
}

/*------------------------------------------*/
/*	 Intro Page Register Form  
/*------------------------------------------*/

#intro_form {
	margin-top: 20px;
	margin-bottom: 50px;
}

.form_register {	
	background-color:#00529C;
	opacity:0.9;
	border: 1px solid #011567;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
	padding: 20px 30px 30px;
}

.form_register h4 {
	color: #fff;
    line-height: 30px;
	font-weight: 900;
	font-size:16px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

/*------------------------------------------*/
/*	  Register Form Input
/*------------------------------------------*/

.form-control {
	height: 44px;
	margin-bottom: 20px;
	border: 1px solid #ddd;
	-webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

input[type="text"],
input[type="email"],
textarea,
select{
	color: #444;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}


/*------------------------------------------*/
/*	 Form Register Button    
/*------------------------------------------*/

#form_register_btn { 
	margin-bottom: 20px;
}

#form_register_btn .btn {
	-webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

/*------------------------------------------*/
/*	  Register Form Sign In Bar
/*------------------------------------------*/

.sign-in-terms p {
	margin-bottom: 2px;
}

.sign-in-bar p {
	font-weight: 700;
}

/*------------------------------------------*/
/*	  Register Form Sign In Terms
/*------------------------------------------*/

.sign-in-bar p {
	margin-bottom: 2px;
}

.sign-in-terms a {
	color: #fff;	
	font-weight: 700;
	text-decoration: underline; 
}

.sign-in-terms a:hover {
	text-decoration: none; 
}

/*------------------------------------------*/
/*	   Register Form Error Message 
/*------------------------------------------*/

.error {
	color: #fc0000;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	margin-bottom: 20px;
}

/*------------------------------------------*/
/*	 Intro Page Footer  
/*------------------------------------------*/
#intro_footer_copy {
	padding-top: 20px;
}

#intro_footer_copy p {
	color: #fff;
	font-size: 15px;
	font-weight: 400;
	margin-bottom: 0;
}

/*------------------------------------------*/
/*	 Intro Page Footer Social Icons   
/*------------------------------------------*/

.intro-social-icons {
	display: inline-block; 
}

.intro-social-icons li {
	float: left;
	width: auto !important;
    display: inline-block !important;
    vertical-align: top;
    clear: none !important;
	line-height: 70px;
}

/*------------------------------------------*/
/*	 Intro Page Social Icon Setting 
/*------------------------------------------*/

.he_social {
    width: 42px;
    height: 42px;
	color: #fff;
	font-size: 21px;
    line-height: 39px;
	text-align: center;
	margin: 0 4px;
	border: 3px solid #fff;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: block;
    text-decoration: none;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}

/*------------------------------------------*/
/*	 Intro Page Social Icons Background 
/*------------------------------------------*/

.he_social.ico-facebook {background-color: #3b5998; border-color: #3b5998; color: #f8f8f8;}
.he_social.ico-twitter {background-color: #00a9ed; border-color:#00a9ed; color: #f8f8f8;}
.he_social.ico-behance {background-color: #00a8e7; border-color:#00a8e7; color: #f8f8f8;}
.he_social.ico-google-plus  {background-color: #cd1111; border-color:#cd1111; color: #f8f8f8;}
.he_social.ico-linkedin {background-color: #015886; border-color:#015886; color: #f8f8f8;}
.he_social.ico-dribbble {background-color: #d92d84; border-color:#d92d84; color: #f8f8f8;}
.he_social.ico-instagram {background-color: #beb3a8; border-color:#beb3a8; color: #f8f8f8;}
.he_social.ico-pinterest  {background-color: #ac281a; border-color:#ac281a; color: #f8f8f8;}
.he_social.ico-dropbox  {background-color: #008ad2; border-color:#008ad2; color: #f8f8f8;}
.he_social.ico-skype  {background-color: #00a9ed; border-color:#00a9ed; color: #f8f8f8;}
.he_social.ico-youtube  {background-color: #cd1b20; border-color:#cd1b20; color: #f8f8f8;}
.he_social.ico-tumblr {background-color: #3a5976; border-color:#3a5976; color: #f8f8f8;}
.he_social.ico-vimeo  {background-color: #00adee; border-color:#00adee; color: #f8f8f8;}
.he_social.ico-flickr  {background-color: #d2d2d2; border-color:#d2d2d2; color: #f8f8f8;}
.he_social.ico-github  {background-color: #222; border-color:#222; color: #f8f8f8;}
.he_social.ico-renren  {background-color: #364a83; border-color:#364a83; color: #f8f8f8;}
.he_social.ico-vk  {background-color: #3b5998; border-color:#3b5998; color: #f8f8f8;}
.he_social.ico-xing  {background-color: #015f5e; border-color:#015f5e; color: #f8f8f8;}
.he_social.ico-weibo {background-color: #be4443; border-color:#be4443; color: #f8f8f8;}
.he_social.ico-rss {background-color: #ff6600; border-color:#ff6600; color: #f8f8f8;}
.he_social.ico-digg  {background-color: #222; border-color:#222; color: #f8f8f8;}
.he_social.ico-deviantart  {background-color: #57675d; border-color:57675d; color: #f8f8f8;}
.he_social.ico-envelope {background-color: #999; border-color:#999; color: #f8f8f8;}
.he_social.ico-delicious {background-color: #0A0A0A; border-color:#0A0A0A; color: #f8f8f8;}

/*------------------------------------------*/
/*	 Intro Page Social Icon Hover 
/*------------------------------------------*/

.he_social:hover {
	background-color: rgba(10, 10, 10, 0.2);
	color: #fff;
	border: 3px solid #fff;
}



/* ==========================================================================
   04. CONTACT FORM RESPONSE PAGE   
   ========================================================================== */
   
#form_response {
	margin: 50px auto; 
}

#form_response .img-responsive { display: inline-block; }

#form_response h1 {
	font-size: 40px; 
	font-weight: 700;
	margin-top: 10px;
}

#form_response p {
	font-size: 18px; 
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	margin-bottom: 20px;
}



/* ==========================================================================
   05. BREADCRUMB 
   ========================================================================== */

.breadcrumb {
	background: transparent;
	color:#1A64A6;
	margin-bottom: 0;
	padding: 15px 0;
}

.breadcrumb > li {
	display: inline-block;
	line-height: 40px;
	text-shadow: none;
}

.breadcrumb > li + li:before {
    color: #428bca;
}

.breadcrumb > li a {
	color:#1A64A6;
	font-size: 15px;
}

.breadcrumb > li a:hover {
	color: #444;
	text-decoration: none;
}

.breadcrumb > .active {
	color: #444 !important;
	font-size: 15px;
}



/* ==========================================================================
   06. WHAT WE DO 	(ABOUT.HTML)
   ========================================================================== */
   
#what-we-do {
	padding-top: 10px;
}

#what-we-do h4 {
	font-weight: 600;
	margin-bottom: 15px;
}

#what-we-do p {
	margin-bottom: 40px;
}

/*------------------------------------------*/
/*	  Statistic Banner Content
/*------------------------------------------*/ 

.statistic-block {
	text-align: center;
}

.statistic-icon {
	color: #428bca;
	font-size: 30px;
	font-family: 'Lato', sans-serif;
	line-height: 30px;	
}

.statistic-number {
	color: #428bca;
	font-size: 40px;
	font-family: 'Lato', sans-serif;
	line-height: 60px;
	font-weight: 700;
}

.statistic-text {
	color: #428bca;
	font-size: 17px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}



/* ==========================================================================
   07. FEATURES 	(ABOUT.HTML)
   ========================================================================== */
 
#features {
	background-color: #f0f0f0;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding-top: 60px;
	padding-bottom: 20px;
}

/*------------------------------------------*/
/*	  Feature Box
/*------------------------------------------*/

.feature-box {
	margin-bottom: 50px;
	padding-left: 5px;
	padding-right: 5px;
}

/*------------------------------------------*/
/*	  Feature Box Icon
/*------------------------------------------*/

.feature-box-icon {
    background-color: #428bca;
    display: block;
    width: 60px;
    height: 60px;
    position: absolute;
    left: 0px;
    top: 5px;
    border-radius: 30px;
    color: #FFF;
    line-height: 60px;
    text-align: center;
    font-size: 30px;
}

/*------------------------------------------*/
/*	  Feature Box Content
/*------------------------------------------*/

.feature-box-content {
	padding-left: 70px;
}

.feature-box-content h4 {
	font-weight: 700;
}



/* ==========================================================================
   08. QUOTES 	(ABOUT.HTML)
   ========================================================================== */

#quotes {
	padding-top: 60px;
	padding-bottom: 80px;
}

#quotes .col-sm-6 {
	padding-right: 50px;
	padding-left: 50px;
}
   
/*------------------------------------------*/
/*	  Quote
/*------------------------------------------*/

.quote-text {
	background-color: #f0f0f0;
	border: 1px solid #ddd;
    color: #444;
    font-style: italic;
    line-height: 25px;
    margin: 0 0 30px 0;
    padding: 26px;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 0 rgba(182, 196, 209, 0.3);
    -moz-box-shadow: 0 2px 0 rgba(182, 196, 209, 0.3);
    box-shadow: 0 2px 0 rgba(182, 196, 209, 0.3);
}

.quote-text:before {
    border: 14px solid transparent;
    z-index: 3;
    border-top-color: #f2f2f2;
    top: auto;
    right: auto;
    bottom: -28px;
    left: 30px;
}

.quote-text:after {
    border: solid 14px transparent;
    z-index: 2;
    border-width: 18px;
    border-top-color: rgba(182, 196, 209, 0.3);
    top: auto;
    right: auto;
    bottom: -36px;
    left: 26px;
}

.quote-text:before,
.quote-text:after,
.quote-text-up:before,
.quote-text-up:after {
    content: "";
    display: block;
    height: 0;
    width: 0;
    position: absolute;
}

.quote-text a {
    color: #666;
	line-height: 26px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

.quote-text a:hover {
    text-decoration: none;
}

.quote img { 
	float: left;
    margin-right: 15px;
    margin-left: 6px;
    width: 75px;
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    -ms-border-radius: 1000px;
    -o-border-radius: 1000px;
    border-radius: 1000px;
}

.quote-author {
    display: inline-block;
    font-size: 13px !important;
    line-height: 65px !important;
}

.quote-author a strong {
	color: #444;
	font-size: 16px;
} 
 


/* ==========================================================================
   09. CLIENTS 	(ABOUT.HTML)
   ========================================================================== */
 
#clients {
	padding-top: 60px;
	padding-bottom: 80px;
	border-top: 1px solid #ddd;
}	

#clients-titlebar {
	position: relative;
}	

/*------------------------------------------*/
/*	 Clients Carousel Navigation
/*------------------------------------------*/

.customNavigation {
	display: inline-block;
	position: absolute;
	top: 0;
	right: 10px;
}

.customNavigation .btn {
	padding: 4px 10px;
}

.customNavigation i {
	font-size: 20px;
	color: #fff;
}



/* ==========================================================================
   10. WORKS-BANNER    (WORKS.HTML)
   ========================================================================== */

#banner {
	padding-top: 10px;
}
     
#banner_content {
	margin-top: 30px;
	margin-bottom: 60px;
}

#banner_content h2 {
	font-weight: 300;
	margin-bottom: 20px;
}

#banner_content h3 {
	color: #428bca;
	font-weight: 700;
	margin-bottom: 20px;
}

#banner_content p {
	color: #444;
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin-bottom: 30px;
}

/*------------------------------------------*/
/*	  Banner List Content
/*------------------------------------------*/

.list-item {
	margin-bottom: 20px;
}

.list-item i {
	color: #428bca;
	margin-right: 8px;
	font-size: 18px;
}

.list-item h5 {
	font-size: 16px;
	font-weight: 700;
}



/* ==========================================================================
   11. SCREENS   (WORKS.HTML)
   ========================================================================== */

#screens {
	padding-top: 60px;
	padding-bottom: 40px;
	background-color: #f0f0f0;
	border-top: 1px solid #ddd;
} 

.screenshot { 
	margin-bottom: 40px;
}

/*------------------------------------------*/
/*	  Image Hover Effect
/*------------------------------------------*/

.hover-details {
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
	-moz-transition: all ease 400ms ease-in-out;
	-webkit-transition: all ease 400ms ease-in-out;
	-o-transition: all ease 400ms ease-in-out;
	transition: all ease 400ms ease-in-out;
}

.hover-details .img-cover {
	width: 100%;
	height: 100%;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(10, 10, 10, 0.55);
	-moz-transition: all ease 400ms ease-in-out;
	-webkit-transition: all ease 400ms ease-in-out;
	-o-transition: all ease 400ms ease-in-out;
	transition: all ease 400ms ease-in-out;
}

.hover-details > img {
	width: 100%;
	height: auto;
	-moz-transition: all ease 400ms ease-in-out;
	-webkit-transition: all ease 400ms ease-in-out;
	-o-transition: all ease 400ms ease-in-out;
	transition: all ease 400ms ease-in-out;
}

/*------------------------------------------*/
/*	  Image Zoom Icon
/*------------------------------------------*/

.image_zoom {
	width:50px;
	height:50px;
	background-image: url(../img/icons/zoom-ico.png); 
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: #428bca;
	position: absolute;
	top: -50%;
	left: 50%;
	border-radius: 50%;
	margin-top: -25px;
	margin-left:  -25px;
	-webkit-transition: all ease 400ms ease-in-out;
	-moz-transition: all ease 400ms ease-in-out;
	-ms-transition: all ease 400ms ease-in-out;
	-o-transition: all ease 400ms ease-in-out;
	transition: all ease 400ms ease-in-out;
}

/*------------------------------------------*/
/*	 Image Title
/*------------------------------------------*/

.img-cover h3 {
	width: 100%;	
	position: absolute;
	bottom: -28%;
	color: #f8f8f8;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;	
	padding: 0 10px;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

/*------------------------------------------*/
/*	 Image Scale ( Hover Effect )
/*------------------------------------------*/

.hover-details:hover > img {
	transform: scale(1.2);
	-ms-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
	-moz-transform: scale(1.2);
}

.hover-details:hover .image_zoom {
	top: 45%;
}

.hover-details:hover .img-cover h3 {
	bottom: 28%;
}

.hover-details:hover .img-cover {
	opacity: 1;
}

.image_zoom:hover {
	background-color: #3071a9;
}



/* ==========================================================================
   12. CALL TO ACTION	 (WORKS.HTML)
   ========================================================================== */

#call-to-action {
	background-color: #428bca;
	padding-top: 30px;
	padding-bottom: 30px;
}

#call-to-action h1 {
	color: #fff;
	font-size: 40px;
	font-weight: 300;
	margin-bottom: 20px;
}

/*------------------------------------------*/
/*	 Call-To-Action Button 
/*------------------------------------------*/

.cta-btn {
	background-color: #3071a9;
	color: #fff;
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	padding: 12px 24px;
	text-transform: uppercase;
	-webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

.cta-btn:hover {
	background-color: #265b89;
	color: #fff;
}



/* ==========================================================================
   13. PARTNERS	 (WORKS.HTML)
   ========================================================================== */

#partners {
	padding-top: 60px;
	padding-bottom: 40px;
}

.partner-logo {
	margin-bottom: 40px;
}



/* ==========================================================================
   14. PRICING 	(PRICE.HTML) 
   ========================================================================== */

#pricing {
	padding-top: 10px;
	padding-bottom: 40px;
} 

#pricing-table-holder {
	padding: 0 30px; 
}

#price_1, #price_2, #price_3 {
	margin-bottom: 50px;
}

.pricing-table {
	border: 1px solid #cfcfcf;
	-webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

/*------------------------------------------*/
/*	  Pricing Table Header
/*------------------------------------------*/

.pricing-table .price-header {
	border-bottom: 1px solid #cfcfcf;
	position: relative;
}

.pricing-table .plan-title {
	color: #333;
	font-size: 20px;
	font-weight: 300;
	text-transform: uppercase;
    padding: 30px 15px;
    margin: 0;
	-webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;	
}

/*------------------------------------------*/
/*	  Pricing Table Price Plan
/*------------------------------------------*/

.pricing-table .plan-price {
    background-color: #f3f3f3;
	margin: 0;
	line-height: normal;
    padding: 20px;
    border-top: 1px solid #cfcfcf;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;	
}

.pricing-table .plan-price h2 {
	color:  #222;
	font-size: 44px;
	font-weight: 400;
	margin-bottom: 0;
}

.pricing-table .plan-price span {
	color: #999;
	font-weight: 700;
	text-transform: uppercase;
}

/*------------------------------------------*/
/*	  Pricing Table Body
/*------------------------------------------*/

.pricing-table ul.features {
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
    padding: 5px 20px;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

.pricing-table ul.features li {
    border-top: 1px solid #e7e7e7;
    padding: 10px 25px; 
}

.pricing-table ul.features li:nth-child(1),
.pricing-table.featured ul.features li:nth-child(1) {
    border: none;
}

/*------------------------------------------*/
/*	  Pricing Table Footer
/*------------------------------------------*/

.pricing-table .price-footer {
    padding-top: 35px;
    padding-bottom: 35px;
    border-top: 1px solid #e7e7e7;
	-webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}

/*------------------------------------------*/
/*	  Featured Table
/*------------------------------------------*/

.pricing-table.featured .price-header {
	border-bottom: 1px solid #428bca;
}

.pricing-table.featured .plan-title {
	background-color: #428bca;
	color: #f7f7f7;
}

.pricing-table.featured .plan-price {
	background-color: #3071a9;
	color: #f7f7f7;
	border-top: 1px solid #2f689a;
	border-bottom: 1px solid #2f689a;
}

.pricing-table.featured ul.features {
	background-color: #428bca;
	color: #f7f7f7;
}

.pricing-table.featured ul.features li {
    border-top: 1px solid #3071a9;
}

.pricing-table.featured .price-footer {
	background-color: #428bca;
	border-top: 1px solid #2f689a;
}

.pricing-table.featured .plan-price h2,
.pricing-table.featured .plan-price span { 
		color: #f7f7f7;
}



/* ==========================================================================
   15. PRICING FAQ 	(PRICE.HTML)
   ========================================================================== */ 

#pricing-faq {
	background-color: #f0f0f0;
	border-top: 1px solid #ddd;
	padding-top: 60px;
	padding-bottom: 60px;
}

/* ==========================================================================
   16. FAQs 	(FAQ.HTML)
   ========================================================================== */
 
#faq {
	padding-top: 10px;
	padding-bottom: 60px;
}

/*------------------------------------------*/
/*	  FAQs Question
/*------------------------------------------*/

#faqs_column_1 h2, 
#faqs_column_2 h2 {
	color: #428bca;
	font-weight: 300;
	margin-bottom: 20px;
}

.question {
	margin-bottom: 20px;
}
  
.question h4 {
	color: #111;
	font-weight: 400;
	line-height: 24px;
}

.question p {
	color: #666;
}



/* ==========================================================================
   17. FOOTER
   ========================================================================== */
 
#footer {
	background-color: #1A1E23;
	padding: 15px 0 10px;
}   

.footer-links li{ 
	display:inline;
    list-style:none
}
.footer-links li a{ 
	color:#FFF;
	padding:0 10px;
	font-weight:bold;
}
.footer-links li a:hover{ 
	color:#5cb85c;
}


/*------------------------------------------*/
/*	 Footer Copy 
/*------------------------------------------*/  

#footer-copy p {
	color: #999;
	font-family: 'Lato', sans-serif;
	line-height: 34px;
	margin-bottom: 0;
}

#footer_copy p span {
	color: #428bca;
}

/*------------------------------------------*/
/*	 Footer Social Icons  
/*------------------------------------------*/

.footer-socials {
	display: inline-block; 
}

.footer-socials li {
	float: left;
	width: auto !important;
    display: inline-block !important;
    vertical-align: top;
    clear: none !important;
}

/*------------------------------------------*/
/*	 Footer Social Icon Setting 
/*------------------------------------------*/

.foo_social {
    width: 34px;
    height: 34px;
	text-align: center;
	color: #999;
	font-size: 18px;
    line-height: 30px;
	margin: 0 5px;
	border: 2px solid transparent;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: block;
    text-decoration: none;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}


/*------------------------------------------*/
/*	 Footer Social Icons Hover 
/*------------------------------------------*/

.foo_social.ico-facebook:hover {background-color: #3b5998; border-color: #3b5998; color: #f8f8f8;}
.foo_social.ico-twitter:hover {background-color: #00a9ed; border-color:#00a9ed; color: #f8f8f8;}
.foo_social.ico-behance:hover {background-color: #00a8e7; border-color:#00a8e7; color: #f8f8f8;}
.foo_social.ico-google-plus:hover {background-color: #cd1111; border-color:#cd1111; color: #f8f8f8;}
.foo_social.ico-linkedin:hover {background-color: #015886; border-color:#015886; color: #f8f8f8;}
.foo_social.ico-dribbble:hover {background-color: #d92d84; border-color:#d92d84; color: #f8f8f8;}
.foo_social.ico-instagram:hover {background-color: #beb3a8; border-color:#beb3a8; color: #f8f8f8;}
.foo_social.ico-pinterest:hover {background-color: #ac281a; border-color:#ac281a; color: #f8f8f8;}
.foo_social.ico-dropbox:hover {background-color: #008ad2; border-color:#008ad2; color: #f8f8f8;}
.foo_social.ico-skype:hover {background-color: #00a9ed; border-color:#00a9ed; color: #f8f8f8;}
.foo_social.ico-youtube:hover {background-color: #cd1b20; border-color:#cd1b20; color: #f8f8f8;}
.foo_social.ico-tumblr:hover {background-color: #3a5976; border-color:#3a5976; color: #f8f8f8;}
.foo_social.ico-vimeo:hover {background-color: #00adee; border-color:#00adee; color: #f8f8f8;}
.foo_social.ico-flickr:hover {background-color: #d2d2d2; border-color:#d2d2d2; color: #f8f8f8;}
.foo_social.ico-github:hover {background-color: #222; border-color:#222; color: #f8f8f8;}
.foo_social.ico-renren:hover {background-color: #364a83; border-color:#364a83; color: #f8f8f8;}
.foo_social.ico-vk:hover  {background-color: #3b5998; border-color:#3b5998; color: #f8f8f8;}
.foo_social.ico-xing:hover  {background-color: #015f5e; border-color:#015f5e; color: #f8f8f8;}
.foo_social.ico-weibo:hover {background-color: #be4443; border-color:#be4443; color: #f8f8f8;}
.foo_social.ico-rss:hover {background-color: #ff6600; border-color:#ff6600; color: #f8f8f8;}
.foo_social.ico-digg:hover  {background-color: #222; border-color:#222; color: #f8f8f8;}
.foo_social.ico-deviantart:hover  {background-color: #57675d; border-color:57675d; color: #f8f8f8;}
.foo_social.ico-envelope:hover {background-color: #999; border-color:#999; color: #f8f8f8;}
.foo_social.ico-delicious:hover {background-color: #0A0A0A; border-color:#0A0A0A; color: #f8f8f8;}



/* ==========================================================================
   18. SCROLL TO TOP
   ========================================================================== */

#scrollUp {
	display: none;
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 30px;
	right: 30px;
	background-image: url(../img/icons/back-to-top.png);
	background-repeat: no-repeat;
	background-position: 50% 48%;
	background-color:rgba(123, 123, 123, 0.65);	
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
	-webkit-transition: all 250ms linear;
	-moz-transition: all 250ms linear;
	transition: all 250ms linear;	
}

#scrollUp:hover {
	background-color: rgba(66, 139, 202, 0.95);
}

nav a#pull {  
    display: none;  
} 

/* ==========================================================================
   19. STEP WIZARD
   ========================================================================== */
/* ==========================================================================
   06. WHAT WE DO 	(ABOUT.HTML)
   ========================================================================== */
   
#stepwizard {
	padding-top: 10px;
	padding-bottom: 30px;
}
#stepwizard h3 {
	margin-top: 30px;
	margin-bottom: 30px;
}
#stepwizard h4 {
	font-weight: 600;
	margin-bottom: 15px;
}

.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;

}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.button-checkbox{margin-left:10px;}
.button-checkbox button{border:0;}

#radioBtn{margin-left:10px;}
#radioBtn .notActive{
    color: #3276b1;
    background-color: #fff;
}

.feature{padding-top:10px;}

/* ==========================================================================
   By proceeding 
   ========================================================================== */
   
.byproceeding{ text-align:center; margin-bottom:20px;}
.tickform{padding-top:20px;color:#999; font-weight:bolder;}
.compulsorytxt{color:#666; font-weight:normal; margin-bottom:20px;}
.checkbox-pos{ margin-top:10px;}

.btn-success{
	background-color: #F26522;
    border-color: #F26522;
	}
	
.btn-success:hover{
	background-color: #DD510D;
    border-color: #DD510D;
	}
	
.form-control::-moz-placeholder {
    color: #444;
